<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi porro ratione odio perferendis, placeat provident. Facere voluptatem ullam adipisci error exercitationem recusandae quia saepe perferendis necessitatibus. Libero iste sit fugiat.</p>
</div>